.container {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: auto;
    margin-bottom: 10vh;
}

.text {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.text h2 {
    width: 611px;
    height: 144px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
    text-align: left;
}

.text p {
    width: 447px;
    height: 72px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


.contactAndOppenHours {
    display: flex;
    justify-content: space-between;
}

.contactAndOppenHours>div {
    border: 1px solid #BFBFBF;
    border-radius: 20px;
    width: 543.5px;
    height: 216px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media screen and (max-width: 600px) {

    .container {
        width: 90%;
        margin: 2vh auto;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        padding: 0;

    }



    .text {
        display: flex;
        flex-direction: column;
        width: 100% !important;
        gap: 2vh;

    }


    .text h2 {
        font-family: Poppins;
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        width: 100% !important;
        height: max-content !important;
        padding: 0;
        margin: 0;
    }

    .text p {
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
        height: max-content;
        padding: 0;
        margin: 0;
    }


    .contactAndOppenHours {
        display: flex;
        flex-direction: column;
        gap: 2vh;
    }


    .openHourse {
        width: 100% !important;
        margin: auto;
    }


    .openHourse h2,
    .subText,
    .subText p {
        width: 100%;
    }
}